<header class="h-20 bg-white px-24 py-2.5 flex items-center justify-between">
    <div class="flex items-center">
        <a href="/" class="flex items-center">
            <img src="/images/PageLogo.png" alt="RedSeam Logo" class="h-6">
        </a>
    </div>
    <div class="flex items-center">
        <a href="/login" class="flex items-center gap-2 text-primary hover:text-red transition-colors duration-200">
            <i class="ri-user-3-fill text-xl"></i>
            <span class="font-medium">Log in</span>
        </a>
    </div>
</header>
